{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ATM Simulator</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- CSS Styles -->
    <link type="text/css" href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

    <!-- Fonts Style -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="mt-5 jumbotron site-background-color text-color-white">
          <h2 align="center" class="header-text simulator-header">
            ATM SIMULATOR INTRODUCTION
          </h2>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="justify-content-center intro-text">
              <p class="mt-5">
                This program attempts to simulate the simple operation of the
                ATM machine performing operations like:
              </p>

              <ul>
                <li>Send Money (Transfers)</li>
                <li>Buy Airtime</li>
                <li>Withdraw Cash</li>
                <li>Check Balance and</li>
                <li>Change Pin</li>
              </ul>

              <p>
                Though operations like paying of bills, payarena and quicteller
                is beyond the scope of this demo.
              </p>

              <p>
                The program is splitted into 2 levels; The
                <a href="{% url 'customer_creation' %}" class="site-text-color">first</a> for the creation
                of customers and the
                <a href="{% url 'start_atm_operation' %}" class="site-text-color">second</a> for simulating
                the ATM experience.
              </p>

              <p>
                There's a need to create customer(s) to test out the machine.
                The system was built in order to manage the user's and the
                amount they have with them and how the relationship exists
                between them.
                <a href="{% url 'customer_creation' %}" class="site-text-color"
                  >Create a customer or series of customers.</a
                >
              </p>

              <p>
                After creating the customer you can then proceed to
                <a href="{% url 'start_atm_operation' %}" class="site-text-color"
                  >simulating the ATM machine</a
                >
                have fun with the simulation.
              </p>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!--
Glory to God who is the same yesterday, today and forever! HALLELUYAH!!!
-->
